.perfect {
    margin-bottom: 0;
    height: 110px;

    @media(max-width: 1024px) {
        height: 0;
    }
  // .perfect__container

  &__container {
    img {
      position: relative;
      bottom: 496px;
      width: 100%;
      @media(max-width: 1025px) {
        bottom: 536px;
      }
      @media(max-width: 768px) {
        bottom: 266px;
        height: 266px;
      }
      @media (max-width: 575px) {
        bottom: 200px;
        height: 200px;
      }
    }
  }
}
