.projects {
  background-color: #000;

  // .projects__container

  &__container {
    padding-left: 12px;
    padding-bottom: 180px;
  }

  // .projects__content-wrapper

  &__content-wrapper {
  }

  // .projects__content-title

  &__content-title {
    position: relative;
    text-align: center;
    padding-top: 138px;
    padding-bottom: 32px;

    h2 {
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
  }

  &__top-sidebar {
    position: absolute;
    transform: rotate(-90deg);
    left: -22px;
    top: 169px;

    p {
      font-size: 8px;
      font-style: normal;
      font-weight: 700;
      line-height: 170.66%; /* 13.653px */
      letter-spacing: 1.6px;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.13);
    }
  }

  // .projects__content-text

  &__content-text {
    max-width: 449px;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 64px;

    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 170.66%; /* 23.892px */
    }
  }

  // .projects__content-words

  &__content-words {
    text-align: center;
    position: relative;
    top: 25px;
    p {
      font-size: 56px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      opacity: 0.06;
    }
  }

  &__inner {
    padding-bottom: 171px;
    position: relative;
  }

  &__inner-sidebar {
    position: absolute;
    bottom: -68px;
    left: -37px;
    transform: rotate(-90deg);
    &::after {
      position: absolute;
      content: "";
      top: 7px;
      left: -73px;
      border: 1px solid rgba(255, 255, 255, 0.04);
      width: 57px;
    }
    p {
      color: rgba(255, 255, 255, 0.13);
      font-size: 8px;
      font-style: normal;
      font-weight: 700;
      line-height: 170.66%; /* 13.653px */
      letter-spacing: 1.6px;
      text-transform: uppercase;
    }
  }

  // .projects__card-wrapper

  &__card-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 7px;
  }

  // .projects__card

  &__card {
    max-width: 50%;
    position: relative;

    &:hover {
      .card__contentTop {
        opacity: 1;
      }
      .card__contentBottom {
        opacity: 1;
      }
    }
  }

  &__card-center {
    width: 100%;
    position: relative;

    &:hover {
        .card__contentTop {
          opacity: 1;
        }
        .card__contentBottom {
          opacity: 1;
        }
      }
  }
  &__card-bottom {
    width: 49.6%;
    display: flex;
    justify-content: center;
    background-color: #fff;

    &:hover {
      cursor: pointer;
    }
  }

  // .projects__card-contentTop

  &__card-contentTop {
    position: absolute;
    display: flex;
    left: 32px;
    top: 29px;
    gap: 24px;
  }

  // .projects__card-contentBottom

  &__card-contentBottom {
    position: absolute;
    bottom: 33px;
    left: 34px;
  }

  // .projects__card-img

  &__card-img {
    img {
      max-width: 100%;
      min-height: auto;
    }
  }

  &__card-text {
    padding-top: 115px;
    padding-bottom: 25px;

    p {
      color: #080808;
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 126.776%; /* 27.891px */
    }
  }
}
.card {
  // .card__contentTop

  &__contentTop {
    opacity: 0;
  }

  // .card__contentTop-info

  &__contentTop-info {
    p {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 170.66%;
    }
  }

  // .card__contentBottom

  &__contentBottom {
    opacity: 0;
  }

  // .card__contentBottom-text

  &__contentBottom-text {
    p {
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 126.776%; /* 27.891px */
    }
  }

  // .card__contentBottom-button

  &__contentBottom-button {
    display: none;
    a {
      font-size: 10px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.2px;
      text-transform: uppercase;
    }
  }
}
