.our-projects {
  margin-bottom: 0;
  margin-top: 208px;
  @media(max-width: 1024px) {
    margin-top: 161px;
  }
  @media(max-width: 768px) {
    margin-top: 138px;
  }
  @media(max-width: 376px) {
    margin-top: 115px;
  }
  // .ourProjects__container

  &__container {
    @media(max-width: 575px) {
      max-width: 700px;
    }
    @media(max-width: 376px) {
      padding: 0 24px;
    }
  }

  // .ourProjects__content-wrapper

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 1176px;
    padding-bottom: 130px;
    @media (max-width: 1024px) {
      flex-direction: column;
      padding-left: 103px;
      padding-bottom: 109px;
    }
    @media(max-width: 768px) {
      padding-left: 75px;
      padding-bottom: 97px;
    }
    @media(max-width: 575px) {
      padding-left: 0;
    }
    @media(max-width: 376px) {
      padding-bottom: 65px;
    }
  }

  // .ourProjects__content-wrap

  &__content-wrap {
  }

  // .ourProjects__content-title

  &__content-title {
    color: var(--1, #080808);
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    padding-left: 133px;
    @media (max-width: 1024px) {
      padding-left: 0;
      font-size: 32px;
      padding-bottom: 13px;
    }
    @media (max-width: 376px) {
      font-size: 26px;
      padding-bottom: 15px;
    }
  }

  // .ourProjects__content-text

  &__content-text {
    color: var(--1, #080808);
    font-size: 14px;
    font-weight: 300;
    line-height: 170.66%; /* 23.892px */
    max-width: 449px;
    padding-bottom: 33px;
    @media (max-width: 1024px) {
      padding-bottom: 37px;
    }
    @media (max-width: 376px) {
      padding-bottom: 27px;
    }
  }

  // .ourProjects__content-links

  &__content-links {
    display: flex;
    justify-content: space-between;
    max-width: 360px;
    @media (max-width: 1024px) {
      max-width: 347px;
    }
    @media (max-width: 376px) {
      display: none;
    }

    button {
      color: var(--5, #828282);
      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      background: inherit;

      &:hover {
        color: #080808;
        transition: all 0.2s ease;
      }

      &.active {
        position: relative;
        color: #080808;
        &::after {
          position: absolute;
          content: "";
          top: 133%;
          left: 50%;
          transform: translate(-50%);
          height: 1px;
          width: 100%;
          opacity: 0.8;
          background: #3a3e4b;

          @media(max-width: 768px) {
            top: 113%;
          }
        }
      }
    }
  }

  &__inner {
    @media (max-width: 1024px) {
      padding-bottom: 119px;
    }
    @media (max-width: 768px) {
      padding-bottom: 108px;
    }
    @media (max-width: 376px) {
      padding-bottom: 96px;
    }

  }

  &__flat-card-wrapper {
    padding-bottom: 181px;

    @media(max-width: 1024px) {
      padding-bottom: 128px;
    }
    @media(max-width: 768px) {
      padding-bottom: 107px;
    }
    @media(max-width: 376px) {
      padding-bottom: 96px;
    }
  }

  &__card-bottom {
    display: none; 
    @media(max-width: 768px) {
      display: block;
    }
  }
  
  &__content-dropdown {
    display: none; 
    @media(max-width: 376px) {
      display: block;
      max-width: 128px;
    }
  }

  &__dropdown-label {
    width: 127px;
    height: 29px;
    padding: 10px 11px 9px 11px;
    button {
      background: transparent;
    }
  }

  &__card-desktop {
    @media(max-width: 376px) {
      display: none;
    }
  }

  &__card-desktop-two {
    @media(max-width: 768px) {
      display: none;
    }
  }

  &__flatCard-right {
    @media(max-width: 376px) {
      padding-top: 13px;
    }
  }

  &__flatCard-right-text {
    @media(max-width: 376px) {
      padding-bottom: 41px;
    }
  }

  &__card-mobile {
    display: none;
    @media(max-width: 376px) {
      display: block;
    }
  }

  &__card-commerce-mobile {
    display: none; 
    @media(max-width: 768px) {
      display: block;
    }
  }

}
