.our {
  margin-bottom: 141px;
  margin-top: 209px;

  @media(max-width: 1024px) {
    margin-bottom: 124px;
    margin-top: 161px;
  }
  @media (max-width: 768px) {
    margin-bottom: 105px;
    margin-top: 138px;
  }
  @media (max-width: 376px) {
    margin-bottom: 81px;
    margin-top: 117px;
  }
  // .our__container

  &__container {
    @media (max-width: 575px) {
      max-width: 450px;
    }
    @media (max-width: 376px) {
      max-width: 358px;
    }
  }

  // .our__content-wrapper

  &__content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1180px;
    padding-left: 132px;
    padding-bottom: 123px;
    @media (max-width: 1024px) {
      padding-left: 103px;
      flex-direction: column;
      align-items: start;
      gap: 25px;
      padding-bottom: 107px;
    }
    @media (max-width: 768px) {
      padding-left: 75px;
      padding-bottom: 99px;
    }
    @media (max-width: 575px) {
      padding-left: 0;
    }
    @media (max-width: 376px) {
      gap: 18px;
      padding-bottom: 65px;
    }
  }

  // .our__content-title

  &__content-title {
    h1 {
      font-size: 36px;
      font-weight: 700;
      line-height: normal;
      @media (max-width: 1024px) {
        font-size: 32px;
      }
      @media (max-width: 376px) {
        display: none;
      }
    }
    h2 {
      display: none;
      @media (max-width: 376px) {
        display: block;
        color: var(--1, #080808);
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  // .our__content-links

  &__content-links {
    display: flex;
    gap: 33px;
    @media (max-width: 1024px) {
      gap: 26px;
    }
    @media (max-width: 768px) {
      gap: 28px;
    }
    @media (max-width: 376px) {
      display: none;
    }
    button {
      color: var(--5, #828282);
      font-size: 11px;
      font-weight: 600;
      line-height: normal;
      letter-spacing: 0.66px;
      background: inherit;

      &:hover {
        color: #080808;
        transition: all 0.2s ease;
      }

      &.active {
        position: relative;
        color: #080808;
        &::after {
          position: absolute;
          content: "";
          top: 133%;
          left: 50%;
          transform: translate(-50%);
          height: 1px;
          width: 100%;
          opacity: 0.8;
          background: #3a3e4b;
        }
      }
    }
  }

  &__content-link_active {
    position: relative;
    &::after {
      position: absolute;
      content: "";
      top: 133%;
      left: 8px;
      transform: translate(-50%);
      height: 1px;
      width: 100%;
      opacity: 0.8;
      background: #3a3e4b;
    }
  }

  &__content-dropdown {
    display: none;
    @media (max-width: 376px) {
      display: block;
    }
  }

  // .our__card-wrapper

  &__card-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 95px;
    @media (max-width: 1024px) {
      padding-bottom: 63px;
    }
    @media (max-width: 768px) {
      padding-bottom: 54px;
    }
    @media (max-width: 575px) {
      flex-direction: column;
    }
    @media (max-width: 376px) {
      padding-bottom: 47px;
    }
  }

  // .our__card

  &__card {
    min-height: 100%;
    width: 100%;

    position: relative;

    img {
      max-width: 100%;
      @media (max-width: 1024px) {
        max-width: 454px;
        min-height: 453px;
      }
      @media (max-width: 940px) {
        max-width: 100%;
        object-fit: cover;
      }
      @media (max-width: 768px) {
        min-height: 333px;
      }
      @media (max-width: 376px) {
        min-height: 218px;
      }
    }
  }

  &__card-desktop {
    @media (max-width: 575px) {
      display: none;
    }
  }

  &__card-mobile {
    display: none;
    @media (max-width: 575px) {
      display: block;
    }
  }

  &__card-background {
    background: #f2f2f2;
  }

  &__card-top {
    display: flex;
    padding-bottom: 10px;
    @media (max-width: 1024px) {
      padding-bottom: 7px;
    }
    @media (max-width: 575px) {
      flex-direction: column-reverse;
    }
  }

  &__card-center {
    display: flex;
    gap: 7px;
    padding-bottom: 8px;
    @media (max-width: 1024px) {
      padding-bottom: 6px;
    }
    @media (max-width: 575px) {
      flex-direction: column;
    }
    @media (max-width: 376px) {
      gap: 5px;
    }
  }

  &__card-bottom {
    display: flex;
    @media (max-width: 575px) {
      flex-direction: column;
    }
  }

  &__card-bottom-mobile {
    img {
      @media (max-width: 376px) {
        height: 218px;
        width: 100%;
      }
    }
  }

  // .our__card-content

  &__card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    padding: 51px 167px 57px 56px;
    @media (max-width: 1024px) {
      padding: 45px 71px 45px 47px;
    }
    @media (max-width: 768px) {
      padding: 45px 71px 33px 31px;
    }
    @media (max-width: 376px) {
      padding: 24px 36px 25px 24px;
    }
  }

  &__card-content-bottom {
    @media (max-width: 1024px) {
      padding: 45px 143px 45px 47px;
    }
    @media (max-width: 768px) {
      padding: 30px 71px 34px 29px;
    }
    @media (max-width: 376px) {
      padding: 23px 38px 25px 25px;
    }
  }

  // .our__card-title

  &__card-title {
    color: var(--1, #080808);
    font-size: 28px;
    font-weight: 700;
    line-height: normal;
    max-width: 365px;
    padding-bottom: 21px;
    @media (max-width: 1024px) {
      font-size: 20px;
      max-width: 270px;
      padding-bottom: 24px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      max-width: 213px;
      padding-bottom: 43px;
    }
    @media (max-width: 376px) {
      max-width: 272px;
      padding-bottom: 37px;
    }
  }

  &__card-title-bottom {
    @media (max-width: 1024px) {
      padding-bottom: 45px;
    }
    @media (max-width: 768px) {
      padding-bottom: 43px;
    }
    @media (max-width: 376px) {
      padding-bottom: 37px;
    }
  }

  // .our__card-text

  &__card-text {
    color: var(--1, #080808);
    font-size: 14px;
    font-weight: 300;
    line-height: 170.66%; /* 23.892px */
    opacity: 0.7;
    max-width: 433px;
    padding-bottom: 60px;
    @media (max-width: 1024px) {
      max-width: 340px;
      padding-bottom: 44px;
    }
    @media (max-width: 940px) {
      display: none;
    }
  }

  &__card-text-bottom {
    @media (max-width: 1024px) {
      display: none;
    }
  }

  // .our__card-button

  &__card-button {
    color: var(--1, #080808);
    font-size: 10px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    padding-left: 17px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 50%;
      transform: translate(-50%);
      left: 157px;
      height: 1px;
      width: 56px;
      background: rgba(49, 49, 49, 0.2);
    }
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 4px;
      transform: translate(-50%);
      height: 1px;
      width: 8px;
      background: rgba(49, 49, 49, 0.2);
    }
  }

  // .our__card-info

  &__card-info {
    color: var(--4, #fff);
    font-size: 28px;
    font-weight: 700;
    line-height: 126.9%; /* 35.532px */
    position: absolute;
    bottom: 59px;
    max-width: 229px;
    left: 57px;
    @media (max-width: 1024px) {
      font-size: 20px;
      bottom: 48px;
      left: 46px;
      max-width: 208px;
    }
    @media (max-width: 768px) {
      font-size: 16px;
      bottom: 34px;
      left: 31px;
      max-width: 164px;
    }
    @media (max-width: 376px) {
      bottom: 26px;
      left: 25px;
    }
  }

  // .our__pages

  &__pages {
    display: flex;
    justify-content: center;
    gap: 35px;
    align-items: center;
    @media (max-width: 768px) {
      gap: 25px;
    }
  }

  &__pages-wrapper {
    display: flex;
    justify-content: space-between;
    width: 147px;
    @media (max-width: 768px) {
      width: 141px;
    }
  }

  // .our__pages-arrow-left

  &__pages-arrow-left {
  }

  // .our__page

  &__page {
    color: var(--1, #080808);
    font-size: 11px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.66px;
  }

  // .our__pages-arrow-right

  &__pages-arrow-right {
  }

  &__dropdown-label {
    width: 128px;
    padding: 13px 11px 13px 13px;
  }
}
