.footer {
  // .footer__black

  &__black {
  }

  // .footer__wrapper

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    align-items: center;
    @media(max-width: 1025px) {
      padding-bottom: 31px;
    }
    @media(max-width: 768px) {
      padding-right: 4px;
    }
    @media(max-width: 590px) {
      flex-direction: column;
      align-items: start;
    }
  }

  // .footer__wrapper-left

  &__wrapper-left {
  }

  // .footer__wrapper-copyright

  &__wrapper-copyright {
    color: #828282;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%; /* 18.285px */
    @media(max-width: 590px) {
      padding-bottom: 10px;
    }
  }

  // .footer__wrapper-right

  &__wrapper-right {
    display: flex;
    justify-content: space-between;
    width: 210px;
    align-items: center;
    @media(max-width: 768px) {
      width: 216px;
      padding-left: 3px;
    }
  }

  // .footer__wrapper-black

  &__wrapper-black {
  }

  // .footer__wrapper-text

  &__wrapper-text {
    color: #828282;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: 152.375%; /* 18.285px */
  }

  // .footer__wrapper-logo

  &__wrapper-logo {
  }
}
