<div class="flatCard__wrapper">
  <div class="flatCard__left">
    <div class="flatCard__left-title">
      <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
    </div>
  </div>
  <div class="flatCard__right">
    <div class="flatCard__right-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam
        ullamcorper eu mauris vitae posuere. Ut at luctus ligula. Nunc ante
        felis, aliquam eu enim sed, ornare pretium velit.
      </p>
    </div>
    <a href="#" class="flatCard__right-button button">
        Make request
    </a>
  </div>
  <div class="flatCard__wrapper-img flatCard__img">
    <div class="flatCard__img-first">
        <a href="#">
            <img src="./images/components/flatCard/first.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-second">
        <a href="#">
            <img src="./images/components/flatCard/second.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-third">
        <a href="#">
            <img src="./images/components/flatCard/third.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-fourth">
        <a href="#">
            <img src="./images/components/flatCard/fourth.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-fifth">
        <a href="#">
            <img src="./images/components/flatCard/fifth.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-sixth">
        <a href="#">
            <img src="./images/components/flatCard/seventh.png" alt="flat">
        </a>   
    </div>
    <div class="flatCard__img-seventh">
        <a href="#">
            <img src="./images/components/flatCard/eighth.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-eighth">
        <a href="#">
            <img src="./images/components/flatCard/nineth.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-nineth">
        <a href="#">
            <img src="./images/components/flatCard/tenth.png" alt="flat">
        </a>
    </div>
    <div class="flatCard__img-tenth">
        <a href="#">
            <img src="./images/components/flatCard/eleventh.png" alt="flat">
        </a>
    </div>
  </div>
</div>
